# TWiki Collaboration Platform, http://TWiki.org/
#
# Copyright (C) 2002-2003 Peter Thoeny, peter@thoeny.com
#
# For licensing info read license.txt file in the TWiki root.
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details, published at 
# http://www.gnu.org/copyleft/gpl.html
#
# setlib.cfg: configuration file for TWiki and Perl library paths
#
# Used to configure non-standard locations for TWiki and Perl modules.


# -------------- Change these settings if required

#    Path to lib directory containing TWiki.pm. Set to absolute file path:
$twikiLibPath = '../lib';

#    Path to local Perl modules (e.g. under home directory for users
#    without 'root' on Unix/Linux). Uncomment and set if needed:
# $localPerlLibPath = '';

# -------------- Don't change anything below this line

# Prepend to @INC, the Perl search path for modules
unshift @INC, $twikiLibPath;
unshift @INC, $localPerlLibPath if $localPerlLibPath;

1;			    	# Return success for module loading

